<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <title>Best Songs</title>
</head>
<body>
    <div th:insert="fragments :: header"></div>
    <h1>Best Songs</h1>
    <!-- <div>
        <p th:text="${songsListString}" />
    </div> -->
    <div>
        <ul>
            <li th:each = "song : ${songsList}">
                <!-- <span th:text="${song.title}"></span> -->
                <a th:href="@{songs/{id}(id=${song.id})}" th:text="${song.title}"></a>
            </li>
        </ul>
    </div>
    <div>
        <a th:href="@{/?name=Rajbir}">Return to Home page</a>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>