<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best movies</title>
</head>
<body>
    <h1>Best Movies</h1>
    <!-- <div>
        <p th:text="${moviesListString}" />
    </div> -->
    <div>
        <ul>
            <li th:each="movie : ${moviesList}">
                <!-- <span th:text="${movies.id} + ' - ' + ${movies.title}"></span> -->
                <a th:href="@{movies/{id}(id=${movie.id})}" th:text="${movie.title}"></a>
            </li>
        </ul>
    </div>
    <div>
        <a th:href="@{/?name=Rajbir}">Return to Home page</a>
    </div>
</body>
</html>