<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <title>Best movies</title>
</head>

<body>
    <div th:insert="fragments :: header"></div>
    <div class="container my-4">
        <div class="d-flex justify-content-center my-4">
            <h1>Best Movies</h1>
        </div>
        <div class="d-flex justify-content-center my-4">
            <div th:replace="fragments :: card('/movies', ${moviesList})"></div>
        </div>
        <!-- Stringa -->
        <!-- <div>
        <p th:text="${moviesListString}" />
        </div> -->
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>